{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Dr. Sang Yoon and Staff Provide our Patients with General Dentistry Treatments, Including Dental Crowns. Visit Us to Learn More and Schedule an Appointment."/>
   <meta name="keywords" content="Chattanooga Dentist,cosmetic dentist,lvi dentist,family dentist,veneers chattanooga,veneers brainerd,veneers east ridge,oral surgeon chattanooga,invisalign chattanooga,wisdom teeth,Orthodontist"/>
   <meta name="title" content="Dr. Sang Yoon - Family Dentist in Chattanooga"/>
   <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
	<title>Dr. Sang Yoon DDS - Family Dentist in Chattanooga, TN</title>
	<!-- Lib CSS -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.css' %}"rel="stylesheet">
    <link href="{% static 'lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"rel="stylesheet">
    <link href="{% static 'lib/owl-carousel/owl.css' %}"rel="stylesheet">
    <link href="{% static 'lib/Swiper/css/swiper.min.css' %}"rel="stylesheet">
    <link href="{% static 'lib/owl-carousel/assets/owl.carousel.min.css' %}"rel="stylesheet">
    <link href="{% static 'lib/vegas/vegas.min.css' %}"rel="stylesheet">
    <link href="{% static 'lib/Magnific-Popup/magnific-popup.css' %}"rel="stylesheet">
    <link href="{% static 'lib/sweetalert/sweetalert2.min.css' %}"rel="stylesheet">
    <link href="{% static 'lib/materialize-parallax/materialize-parallax.css' %}"rel="stylesheet">


	<!-- Icon fonts -->
    <link href="{% static 'fonts/fontawesome-all.min.css' %}"rel="stylesheet">
    <link href="{% static 'fonts/pe-icon-7-stroke.css' %}"rel="stylesheet">
    <link href="{% static 'fonts/et-line-font.css' %}"rel="stylesheet">

    <!-- Template CSS -->
    <link href="{% static 'css/animate.css' %}"rel="stylesheet">
    <link href="{% static 'css/main.css' %}"rel="stylesheet">
    <link href="{% static 'css/ckav-grids.css' %}"rel="stylesheet">
    <link href="{% static 'css/helper.css' %}"rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}"rel="stylesheet">

    <!-- Theme color css -->
    <link href="{% static 'css/themes/default.css' %}"rel="stylesheet">
    <link href="{% static 'css/template-custom.css' %}"rel="stylesheet">
    <link href="{% static 'css/angular-busy.min.css' %}" rel="stylesheet">
	<!-- Favicons -->
	<link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
	<link rel="apple-touch-icon" href="{% static 'images/favicons/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicons/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicons/apple-touch-icon-114x114.png' %}">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->
	<!--[if IE 9 ]><script src="{% static 'js/ie-matchmedia.js' %}"></script><![endif]-->
</head>

<body ng-app="avaApp">

<div class="page-loader"><b class="spinner"></b></div>

<div id="page" data-linkscroll='y'>
		
	<!--
	************************************************************
	* HEADER
	************************************************************ -->
	<header class="main-head dark bg-glass-dark-03" data-sticky="y">
		<div class="container small">
			<div class="row gt0 align-items-center head-row">
				
				<!--=================================
				= LOGO SECTION
				==================================-->
				<div class="col-lg-3 pos-rel">
					<a class="nav-handle" data-nav=".m-content" data-navopen="pe-7s-more" data-navclose="pe-7s-close"><i class="pe-7s-more"></i></a>
					<div class="header-logo-wrp">
						<a class="header-logo pd-tb-small" href="/"><img src="{% static 'images/logo-light.png' %}" alt="Dr. Sang Yoon DDS"></a>
					</div>
				</div><!-- ======= END : LOGO SECTION =======  -->
				
				<!--=================================
				= NAVIGATION LINKS
				==================================-->
				<div class="col-lg-9 align-r m-content">
					<ul class="row gt20 justify-content-md-end mr-0 align-items-center">
						<li class="col-lg-auto">
							<nav class="menu-wrp align-l">
								<ul class="menu">
									<li class="menu-item"><a href="#about">About Dr. Sang Yoon</a></li>
									<li class="menu-item"><a href="#newpatient">New Patients</a></li>
									<li class="menu-item"><a href="#" data-toggle="modal" data-target="#appointmentFormModal" >Make Appointment</a></li>   
								</ul>
							</nav>
						</li>

						<li class="col-lg-auto bdr-l bdr-op-light-2 pd-l-20" data-ckav-sm="pd-0 pd-t-10 align-c">
							<a href="tel:+14236226552" class="btn btn-white mini solid">Call (423) 622-6552</a>
						</li>
					</ul>

				</div><!-- ======= END : NAVIGATION LINKS =======  -->

			</div>
		</div>
	</header><!-- ************** END : HEADER **************  -->

	<!--
	************************************************************
	* INTRO SECTION 06
   ************************************************************ -->
   <div ng-controller="appointmentFormController as contact">
	<section class="pd-tb-small bg-dark" data-ckav-sm="pd-tb-small align-c" id="home"> 

		<div class="container small pd-t-small" data-ckav-sm="pd-0">
			<div class="row gt20 mb20">
				<div class="col-md-6"></div>
				<div class="col-md-6 align-c">
					
					<!--=================================
					= FORM
					==================================-->
					<div class="form-block mr-auto" data-ckav-sm="pd-20">
						<div class="bg-dark pd-mini rd-6 mr-b-micro" data-ckav-sm="pd-30" data-animate-in="fadeIn">
							<h3 class="title txt-white f-1" data-ckav-sm="small" style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">SANG H. YOON DDS</h3>
							<p class="txt-white op-08" data-ckav-sm="small mr-0">Your neighbourhood family dentist in the greater Chattanooga area, including East Ridge!</p>
						</div>
						<div class="pos-rel -mr-t-40 mr-b-micro"><span class="sq60 iconbox rd txt-white fs20 bg-default shadow-mini" data-animate-in="fadeInUp|0.1"><i class="fa fa-arrow-down"></i></span></div>
						<div class="pd-mini bg-white shadow-medium rd-6" data-ckav-sm="pd-30" data-animate-in="fadeInUp|0.2">
							<h3 class="title small">Call us now <a href="tel:+14236226552">(423) 622-6552</a> or send us a message online</h3>
                     <form action="" class="form-widget" data-formtype="newsletter">
								<div class="field-wrp">
									<div class="form-group">
										<input class="form-control" data-label="Name" required data-msg="Please enter name." ng-model="contact.name" type="text" name="name" placeholder="Enter your name">
									</div>
									<div class="form-group">
										<input class="form-control" data-label="Email" required data-msg="Please enter email." ng-model="contact.email" type="email" name="email" placeholder="Enter your email">
									</div>
									<div class="form-group">
										<input class="form-control" required data-label="Phone" data-msg="Please phone number."  ng-model="contact.phone" type="text" name="phone" placeholder="Enter your phone number">
									</div>
                        </div>
                        <a href="#" data-toggle="modal" data-target="#appointmentFormModal" class="btn btn-dark hov-btn-default solid">MAKE APPOINTMENT</a>
							</form>
						</div>
					</div><!-- ======= END :  =======  -->
				</div>
			</div>
		
		</div>
		
		<b class="full-vh bg-cc bg-cover" data-stellar="y" data-stellar-vertical-offset="-100" data-stellar-ratio="0.8" data-ckav-sm="h100" data-bg="{% static 'images/main-background.jpg' %}"></b>
	</section>
	<!-- ************** END : INTRO SECTION 06 **************  -->
	<!-- Appointment Form -->
		<!-- modal contact form -->
		<div
			class="modal fade" id="appointmentFormModal"
			tabindex="-1" role="dialog"
			aria-labelledby="appointmentFormModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" cg-busy="{promise:appointmentPromise,templateUrl:'{% static 'html/busy.html' %}'}">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="appointmentFormModalLabel">Make Appointment</h4>
					</div>
					<div class="modal-body" ng-show="is_sent">
							Message sent. We'll get back to you shortly. You may close this dialog.
					</div>
					<div class="modal-body" ng-show="!is_sent">
                     <div class="col-md-12">
                           <div class="form-block rd-10" data-ckav-sm="pd-20">
                           <p>We will do our best to contact you within one business day at the phone number provided to schedule your appointment. We will make every attempt possible to accommodate your appointment request and look forward to seeing you soon!</p>
                           <form method="POST" id="appointmentForm" name="appointmentForm" novalidate>
                              {% csrf_token %}
                              <div class="form-process"></div>
                              <div class="col_half">
                                 <input placeholder="Your name" ng-model="contact.name" type="text" id="appointmentForm-name" name="contact_name" class="form-control bg-white" required />
                                 <div class="help-block" ng-messages="appointmentForm.contact_name.$error" ng-show="appointmentForm.contact_name.$touched">
                                    <div ng-message="required">This field is required</div>
                                 </div>
                              </div>
                              <div class="col_half col_last">
                                 <input placeholder="Email" ng-model="contact.email" type="email" id="appointmentForm-email" name="contact_email" class="form-control bg-white"  />
                                 <div class="help-block" ng-messages="appointmentForm.contact_email.$error" ng-show="appointmentForm.contact_email.$touched">
                                    <div ng-message="required">This field is required</div>
                                    <div ng-message="email">Your email address is invalid</div>
                                 </div>
                              </div>
                              <div class="col_half">
                                 <input placeholder="Best phone number" ng-model="contact.phone" type="text" id="appointmentForm-phone" name="contact_phone" class="form-control bg-white" required />
                                 <div class="help-block" ng-messages="appointmentForm.contact_phone.$error" ng-show="appointmentForm.contact_phone.$touched">
                                    <div ng-message="required">This field is required</div>
                                 </div>
                              </div>
                              <div class="clear"></div>
                              <div class="col_full">
                                 <textarea  placeholder="Add your message" ng-model="contact.message" class="form-control bg-white" id="contact_message" name="contact_message" rows="6" cols="30" required></textarea>
                                 <div ng-messages="appointmentForm.contact_message.$error" ng-show="appointmentForm.contact_message.$touched">
                                    <div ng-message="required">This field is required</div>
                                 </div>
                              </div>
                              <div class="col_full">
                                 <button ng-click="send()" ng-disabled="appointmentForm.$invalid" class="btn btn-dark hov-btn-default solid" id="appointmentForm-submit" name="appointmentForm-submit" value="submit">Send Message</button>
                              </div>
                           </form>
                        </div>
                     </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-dark hov-btn-default solid" data-dismiss="modal">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
      <!-- Modal Contact Form End -->
	<!--
	************************************************************
	* FEATURE SECTION 04
	************************************************************ -->
	<section class="pd-0" id="newpatient">
		
		<!--=================================
		= IMAGE SECTION
		==================================-->
		<div class="pd-t-small bg-default pd-b-10" data-ckav-sm="pd-tb-small align-c" data-animate-in="fadeIn">
			<div class="container small align-c typo-light">
				<div class="w60 mr-auto mr-b-mini">
					<h2 class="title f-1" style="color: #423f3b; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;" data-ckav-sm="medium">New Patients Welcome!</h2>
					<p style="color: #423f3b;">We offer an extensive range of preventative, restorative and cosmetic dental procedures for patients of all ages in the Chattanooga, TN area. Dr. Sang Yoon and their highly skilled staff members work together to ensure every one of their patients have access to the most innovative procedures in dentistry.</p>
				</div>

				<div class="-mr-b-200 pos-rel rd-10 shadow-large" data-ckav-sm="w-reset px-h400 mr-0">
					<div class="carousel-widget ctrl-1 align-c" 
						data-items="1"
						data-nav="true"
						data-pager="false"
						data-itemrange="false"
						data-margin="0"
						data-autoplay="false"
						data-hauto="false"
						data-center="false">
						<div class="owl-carousel">
							<div class="item">
								<img src="{% static 'images/new_patient_special.jpg' %}" alt="image">
							</div><!-- /.item -->
						</div>
					</div>
				</div>

			</div>
		</div><!-- ======= END :  =======  -->

		<div class="pd-tb-mini mr-t-200" data-ckav-sm="mr-0">
			<div class="container small align-c pd-b-small">
            <div class="w75 mr-auto" data-animate-in="fadeInUp">
               <h2 class="title f-1 small">For our new patients, we offer full exam with x-rays and cleaning.<br/>Only for $89</h2>
               <p>Not valid with insurance submission. Does not apply with periodontal disease.</p>
               <a href="tel:+14236226552" class="btn btn-default solid round">Call us today @ (423) 622-6552</a>
            </div>
			</div>
		</div>
	</section>
	<!-- ************** END : FEATURE SECTION 04 **************  -->

	<!--
	************************************************************
	* CONTENT SECTION 12
	************************************************************ -->
	<section class="pd-tb-small bg-gray" id="about" data-ckav-sm="pd-tb-small">
		<div class="container small">
			<div class="w75 mr-auto mr-b-mini align-c" data-animate-in="fadeInUp|0.1">
				<h2 class="title f-1" data-ckav-sm="medium" style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">About our practice</h2>
				<p class="f-2">We offer an extensive range of preventative, restorative and cosmetic dental procedures for patients of all ages in  Chattanooga.</p>
			</div>

			
			<div class="tabs-auto tab-style4 side-tab mr-0" data-tb-normal="bg-white" data-tb-active="txt-dark bdr-default bg-default">
				<ul class="tb-list bdr-default px-w300 f-2" data-animate-in="fadeInLeft">
					<li class="tb">Meet Dr. Sang Yoon</li>
               <li class="tb">General Dentistry</li>
               <li class="tb">Cosmetic Dentistry</li>
				</ul>

				<div class="tb-content" data-animate-in="fadeInRight">
					<div class="tb-pn pd-l-tiny" data-ckav-sm="pd-0">
						<p><img src="{% static 'images/drsangyoon.jpg' %}" alt="image" class="bdr-1 bdr-white shadow-mini"></p>
						<p class="f-2">
                     Dr. Sang H. Yoon has practiced dentistry since 2001. He graduated from Loma Linda University Dental School in Loma Linda, California. He is a General Dentist who also does Extractions, Root Canal Treatment and Implants.
                     Dr. Yoon and their highly skilled staff members work together to ensure every one of their patients have access to the most innovative procedures in dentistry.
                  </p>
					</div>

					<div class="tb-pn pd-l-tiny" data-ckav-sm="pd-0">
						<p class="f-2">
   
                        Our office is home to the most committed and experienced general dentist in the Chattanooga area.  Dr. Yoon offers his expertise to help patients maintain a healthy dental hygiene.  One of the most consistent and recommended practices in sustaining a healthy smile is scheduling regular dental visits.
                  </p>
                  <p class="f-2">
                        A routine visit consists of an evaluation of your oral health history as well as a screening to detect any problems or concerns.  
                        
                        A professional cleaning will be provided to remove any plaque or cavities that cannot be noticeable at home.  
                        
                        The teeth will also be polished and shaped to provide a cosmetic improvement.  
                        
                        If there is any decay, we will provide a treatment plan before it endangers your health.
                        
                        Scheduling regular dental visits are important and we recommend at least couple vists per year.  
                  <p class="f-2">
                        Our office is filled with resources that will you understand dental care and make the best choices for your health.  
                        
                        With our plan, we can help you enjoy a successful and healthy smile for numerous years.
                        
                        If you require first-rate care for most dental concerns, Dr. Sang Yoon can be your dentist!  Call us today to set up a consultation.
                     </p>
               </div>
               
               <div class="tb-pn pd-l-tiny" data-ckav-sm="pd-0">
                     <p class="f-2">
                           Dr. Sang Yoon is consistently dedicated to providing the best cosmetic dentist experience in Chattanooga.  Our office philosophy is centered on creating a high standard of care that is innovative, gentle, and efficient.  We are equipped with the experience and technology to provide a welcoming experience for patients.

                           Our dental care services are provided from the convenience of our Chattanooga office.  We utilize the most up-to-date practices and technology in cosmetic dental care.  Our treatment specializations include teeth whitening, Invisalign, dental fillings, Lumineers, porcelain veneers, crowns, and bridges.
                     </p>
                     <p class="f-2">
                           For over 15 years, Dr. Yoon and his team have provided the very best of cosmetic dentistry for patients in Chattanooga.  We work with the utmost diligence to ensure this community has access to the highest quality of cosmetic dental care.
                           
                           Our office is established to make the best cosmetic care available in the region.  We happily welcome your visit whether you want to brighten your teeth, or need a filling.  Call our office today to schedule your appointment.
                     </p>
                  </div>

				</div>
			</div>

		</div>
	</section>
	<!-- ************** END : CONTENT SECTION 12 **************  -->

	<!--
	************************************************************
	* CONTENT SECTION13
	************************************************************ -->
	<section class="pd-tb-medium" data-ckav-sm="pd-tb-medium align-c" id="findus">
		
		<div class="container small typo-light">
			<div class="row middle-md">
				<div class="col-md-7" data-animate-in="fadeInLeft">
					<img src="{% static 'images/icon-check.png' %}" alt="icon" class="mr-b-tiny max-px-w150" data-ckav-sm="mr-auto">
					<h2 class="title f-1 large" data-ckav-sm="medium">Providing the best cosmetic dentist experience in greater Chattanooga.  </h2>
					
					<p class="mr-b-mini f-2">We utilize the most up-to-date practices and technology in cosmetic dental care.  Our treatment specializations include teeth whitening, Invisalign, dental fillings, Lumineers, porcelain veneers, crowns, and bridges.</p>

					<a href="#" class="btn btn-white round solid" data-toggle="modal" data-target="#appointmentFormModal">Book an Appointment</a>
				</div>
				
				<div class="col-md-5" data-ckav-sm="pd-b-40">
					
				</div>
			</div>
			
		</div>

		<b class="full-wh bg-dark op-02 z1"></b>
		<b class="full-vh bg-cc bg-cover" data-stellar="y" data-stellar-vertical-offset="200" data-stellar-ratio="0.8" data-ckav-sm="h100" data-bg="{% static 'images/cosmetic.jpg' %}"></b>
	</section>
	<!-- ************** END : CONTENT SECTION13 **************  -->
	<!--
	************************************************************
	* COUNTER SECTION 04
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-ckav-sm="pd-tb-small">
		<div class="container small">

			<div class="w75 mr-auto align-c mr-b-mini" data-animate-in="fadeInUp">
				<h2 class="title f-1" data-ckav-sm="medium">You Deserve a Billion Dollar Smile</h2>
			</div>
			
			<div class="row gt20 mb10 mr-b-60" data-ckav-sm="mr-b-30">
				
				<div class="col-md-6 align-c count-box" data-animate-in="fadeInUp|0.1">
					<p class="title fs100 txt-dark mr-0 bold-4 f-2" data-ckav-sm="large"><span class="count">1000</span>+</p>
					<p class="title-sub small mr-0 f-2" data-ckav-sm="small">Happy smiles</p>
				</div>

				<div class="col-md-6 align-c count-box" data-animate-in="fadeInUp|0.2">
					<p class="title fs100 txt-dark mr-0 bold-4 f-2" data-ckav-sm="large"><span class="count">17</span>+</p>
					<p class="title-sub small mr-0 f-2" data-ckav-sm="small">Years of experience</p>
				</div>
			</div>

			<div class="row gt20 mb20 align-c middle-md" data-animate-in="fadeIn">
				<div class="col-md-4"><hr></div>
				<div class="col-md-4">
					<a href="#" class="btn btn-dark solid bdr-2 bold-n mr-auto round" data-toggle="modal" data-target="#appointmentFormModal" data-ckav-sm="medium" >Book an Appointment</a>
				</div>
				<div class="col-md-4"><hr></div>
			</div>

		</div>
	</section>
	<!-- ************** END : COUNTER SECTION 04 **************  -->

	<!--
	************************************************************
	* TESTIMONIAL 06
	************************************************************ -->
	<section class="pd-tb-small bg-default" data-ckav-sm="pd-tb-small align-c" id="testimonials">
		<div class="container small">
			<h2 class="title f-1 mr-b-mini align-c" data-ckav-sm="medium" data-animate-in="fadeInUp" style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">What our patients say</h2>
			<div class="info-obj img-l g10 medium w75 mr-auto mr-b-mini" data-ckav-sm="img-t" data-animate-in="fadeInUp|0.1">
				<div class="info bg-white shadow-tiny pd-mini rd-20" data-ckav-sm="bdr-reset pd-20">
					<p class="fs16 f-2">I've been going to Dr. Holder for almost 30 years. When I found out that he retired, I figured that I would try out Dr. Yoon, who bought his practice... I have been very pleased with his demeanor, professional abilities, and skill.  I will continue as his patient.</p>
					<h3 class="title mini bold-n mr-0 f-2">Daniel B.</h3>
					<em class="fs12 f-2">Chattanooga, TN</em>
				</div>
			</div>			
		</div>
	</section>
   <!-- ************** END : TESTIMONIAL 06 **************  -->
   </div>
<!--
	************************************************************
	* OTHER SECTION 05
   ************************************************************ -->
   <div ng-controller="contactusFormController as contactus">
	<section class="pd-tb-small bg-grey" data-ckav-sm="pd-tb-small" >
         <div class="container">
            <div class="row gt20 mb20 middle-md">
               <div class="col-md-7" data-animate-in="fadeInLeft">
                     <h2 class="title bold-n small f-1" data-ckav-sm="medium"style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">Location</h2>
                  <div class="shadow-tiny bg-dark">
                     <!--=================================
                     = GOOGLE MAP
                     ==================================-->
                     <div class="gmap-widget" 
                        data-map-height="300" 
                        data-map-latitude="35.014015" 
                        data-map-longitude="-85.231509" 
                        data-map-markerhd="Dr. Sang Yoon DDS" 
                        data-map-markerhtml="4610 Brainerd Rd. Suite 2 Chattanooga, TN 37411">
                     </div>
                     <!-- ======= END :  =======  -->
                  
                     <div class="info-obj img-l g20 tiny pd-20">
                        <div class="img txt-white"><span class="iconwrp"><i class="pe-7s-map-marker"></i></span></div>
                        <div class="info">
                           <p class="mr-0 txt-white">Dr. Sang Yoon DDS</p>
                           <h3 class="title tiny txt-white">4610 Brainerd Rd. Suite 2, Chattanooga TN 37411</h3>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="col-md-5" data-animate-in="fadeInRight">
                     <div class="modal-body" ng-show="is_contact_sent">
                           Message sent. We'll get back to you shortly.
                     </div>
                     <div class="modal-dialog" cg-busy="{promise:contactPromise,templateUrl:'{% static 'html/busy.html' %}'}"></div>
                     <div class="form-block rd-10 pd-mini" data-ckav-sm="pd-20" ng-show="!is_contact_sent">
                           <h2 class="title small mr-b-20 bold-n f-1" data-ckav-sm="small align-c"style="font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">Drop us a line</h2>
                           <form method="POST" class="form-widget" id="contactForm" name="contactForm" novalidate>
                              {% csrf_token %}
                              <div class="field-wrp">
                                 <div class="form-group">
                                    <input class="form-control bg-white" ng-model="contactus.name" data-label="Name" type="text" name="name" placeholder="Enter your name" required >
                                    <div class="help-block" ng-messages="contactForm.name.$error" ng-show="contactForm.name.$touched">
                                       <div ng-message="required">This field is required</div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <input class="form-control bg-white" ng-model="contactus.email" data-label="Email" type="email" name="email" placeholder="Enter your email">
                                    <div class="help-block" ng-messages="contactForm.email.$error" ng-show="contactForm.email.$touched">
                                       <div ng-message="required">This field is required</div>
                                       <div ng-message="email">Your email address is invalid</div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <input class="form-control bg-white" ng-model="contactus.phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number" required>
                                    <div class="help-block" ng-messages="contactForm.phone.$error" ng-show="contactForm.phone.$touched">
                                       <div ng-message="required">This field is required</div>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <textarea class="form-control bg-white" ng-model="contactus.message" data-label="Message" name="message" placeholder="Add your message" cols="30" rows="10" required></textarea>
                                    <div ng-messages="contactForm.message.$error" ng-show="contactForm.message.$touched">
                                       <div ng-message="required">This field is required</div>
                                    </div>
                                 </div>
                              </div>
                              <button ng-click="send()" ng-disabled="contactForm.$invalid" class="btn btn-dark hov-btn-default solid" id="contactForm-submit" name="contactForm-submit" value="submit">Send Message</button>
                           </form>
                        </div>
                        </div>
                  </div>
            </div>
         </div>
      </section>
      <!-- ************** END : OTHER SECTION 05 **************  -->
   </div>      
	<!--
	************************************************************
	* FOOTER SECTION 07
	************************************************************ -->
	<footer class="pos-rel pd-tb-mini bg-dark" data-ckav-sm="pd-tb-small align-c" id="contact">
		<div class="container small typo-light">
			
			<div class="row gt40 mb20">
				<div class="col-md-8">
					<div class="row gt20 mb20">
						<div class="col-md-4" data-animate-in="fadeIn|0.1">
                     <p><img src="{% static 'images/logo-light.png' %}" alt="Logo" class="max-px-w150" data-ckav-sm="mr-auto"></p>
						</div>
						
						<div class="col-md-4" data-animate-in="fadeIn|0.2">
							<h3 class="title mini bold-n">Working Hours</h3>
							<ul class="list-1 txt-white op-06">
                           <li><strong>Monday:</strong> 8:00 - 5:00</li>
                           <li><strong>Tuesday:</strong> 8:00 - 5:00</li>
                           <li><strong>Wednesday:</strong> 8:00 - 5:00</li>
                           <li><strong>Thursday:</strong> 8:00 - 5:00</li>
                           <li><strong>Friday:</strong> 8:00 - 12:00</li>
                           <li><strong>Sun & Sat :</strong> Closed</li>
							</ul>
						</div>

						<div class="col-md-4" data-animate-in="fadeIn|0.3">
							<h3 class="title mini bold-n">Phone Numbers</h3>
							<ul class="list-1 txt-white op-06">
								<li><a href="tel:+14236226552" target="_blank" class="link-white">Phone (423) 622-6552</a></li>
								<li><a href="tel:+14236226510" target="_blank" class="link-white">Fax (423) 622-6510</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4" data-animate-in="fadeIn|0.4">
               <h3 class="title mini bold-n">Office Address</h3>
					<p>4610 Brainerd Rd. Suite 2<br/> Chattanooga, TN 37411</p>
					<p><a href="mailto:smiledr4610@gmail.com">smiledr4610@gmail.com</a></p>
				</div>

			</div>
			
			<hr class="mr-tb-10 light" data-ckav-sm="mr-tb-10">
			
			<div class="row gt20">
				<div class="col-md-6">
					<p>Dr. Sang H. Yoon DDS &copy; <span class="copyright-year"></span></p>
				</div>
				<div class="col-md-6 align-r" data-ckav-sm="align-c">
               Chattanooga Dentist Dr. Sang Yoon provides dental procedures such as teeth whitening, dental implants, and porcelain veneers. Our office treats patients from throughout the greater Chattanooga area, including East Ridge.
            </div>
			</div>
			
		</div>
	</footer>
	<!-- ************** END : FOOTER SECTION 07 **************  -->

	
	<!-- GOOGLE FONTS -->
	<script>
	/* Use fonts with class name in sequence => f-1, f-2, f-3 .... */
	var fgroup = [
		'Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i',
		'Open Sans:300,300i,400,400i,600,600i,700,700i,800,800i'
	];
	</script>

</div>
<!-- /#page --> 

<script src="{% static 'js/webfonts.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-messages.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contactApp.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-busy.min.js' %}"></script>
<script src="{% static 'lib/jquery/jquery-3.3.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery/jquery-migrate-3.0.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery-smooth-scroll/jquery.smooth-scroll.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jQuery-viewport-checker/jquery.viewportchecker.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/Swiper/js/swiper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/owl-carousel/owl.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/Magnific-Popup/jquery.magnific-popup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/isotope/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/isotope/packery-mode.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jQuery-Countdown/jquery-countdown.js' %}" type="text/javascript"></script>

<script src="{% static 'lib/sweetalert/sweetalert2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/jquery-validation/jquery.validate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/youtubebackground/jquery.youtubebackground.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/Vide/jquery.vide.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/vegas/vegas.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/materialize-parallax/materialize-parallax.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/countUp/countUp.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/stellar/jquery.stellar.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/enquire.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>